<div class="profile">
  <div class="profile1">
    <%= render partial: "users/user_profile" %>
  </div>
  <div class="profile1">
    <%= render partial: "addresses/addresses" %>
  </div>
  <div class="profile1">
    <%= render partial: "cart_items/cart_items" %>
  </div>
  <div class="profile1">
    <%= render partial: "purchases/purchases" %>
  </div>
</div>
