<% @purchases.each_with_index do |purchase, index| %>
  <div class="profile-usertitle-name">
    <%= link_to "Purchase History #{index + 1}", user_purchase_purchase_items_path(user_id: Current.user.id, purchase_id: purchase.id) %>
  </div>
<% end %>
